<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace="fragments/head :: head">

</head>

<body>

<div class="wrapper">

    <!-- Navigation -->
    <nav th:replace="fragments/header :: header">


    </nav>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2>Update</h2>
                    <a class="btn btn-success" href="#" th:href="@{/seller/products}">All products</a>
                    <form method="post" th:object="${product}" th:action="@{/seller/product/edit/{productId}(productId=${product.id})}">

                        <div class="form-group row has-danger">
                            <label class="control-label col-md-2">Product Name</label>
                            <div class="col-md-6">
                                <input type="text" th:field="*{name}" class="form-control" th:errorclass="is-invalid"
                                       placeholder="Product Name" />
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"class="invalid-feedback"></div>
                            </div>

                        </div>
                        <div class="form-group row has-danger">
                            <label class="control-label col-md-2">Price</label>
                            <div class="col-md-6">
                                <input type="text" th:field="*{unitPrice}" class="form-control" th:errorclass="is-invalid"
                                       placeholder="Unit Price" />
                                <div th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}"class="invalid-feedback"></div>
                            </div>

                        </div>

                        <div class="form-group row has-danger">
                            <label class="control-label col-md-2">Quantity</label>
                            <div class="col-md-6">
                                <input type="number" th:field="*{unitsInStock}" class="form-control" th:errorclass="is-invalid"
                                />
                                <div th:if="${#fields.hasErrors('unitsInStock')}" th:errors="*{unitsInStock}"class="invalid-feedback"></div>
                            </div>

                        </div>


                        <div class="form-group row has-danger">
                            <label class="control-label col-md-2">Description</label>
                            <div class="col-md-6">
                                <textarea class="form-control"  rows="3" th:field="*{description}" th:errorclass="is-invalid"></textarea>
                                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"class="invalid-feedback"></div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2">Category</label>
                            <div class="col-md-6">
                                <select class="form-control"  th:field="*{category.id}">
                                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">


    </div>

    <div th:replace="fragments/footer :: scripts"></div>
</div>
</body>
</html>