<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace="fragments/head :: head">

</head>

<body>

<div class="wrapper">

    <!-- Navigation -->
    <nav th:replace="fragments/header :: header">


    </nav>

    <!-- Page Content -->

    <div class="content">

        <div class="container">

            <div class="row col-lg-12">

                <div class="jumbotron">
                    <h1 class="display-3">Something went wrong!</h1>
                    <hr class="my-4">
                    <p>Our Engineers are on it</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" th:href="@{'/home'}" role="button">Home Page</a>
                    </p>
                </div>
            </div>

        </div>


    </div>


    <!-- Footer comes here -->
    <div th:replace="fragments/footer :: footer">


    </div>

    <div th:replace="fragments/footer :: scripts"></div>
    <!-- Self coded javascript -->


</div>

</body>

</html>