<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/images/icon.png}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrapTheme.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Online Shopping  - login</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{/home}">Online Shopping</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="content">

    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col-xs-12 col-md-offset-2 col-md-8">

                <div th:if="${errorMessge}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="${errorMessge}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div th:if="${successMessge}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <span th:text="${successMessge}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">

            <div class="col-md-offset-3 col-md-6">
                <h4>Login</h4>
                <form th:action="@{/login}" method="POST" class="form-horizontal">
                    <div class="form-group">
                        <label for="email" class="col-md-4 control-label">Email: </label>
                        <div class="col-md-8">
                            <input type="text" name="email" id="email" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-4 control-label">Password: </label>
                        <div class="col-md-8">
                            <input type="password" name="password" id="password" class="form-control"/>
                        </div>
                    </div>
                    <input type="checkbox" name="remember-me" /> Remember Me?<br/>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" value="Login" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>

                <div class="text-center">
                    New User - <a th:href="@{'/registration'}">Register Here</a>
                </div>

            </div>

        </div>



    </div>

</div>
<div class="container-fluid footer">


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Online Shopping 2020 </p>
            </div>
        </div>
    </footer>

</div>





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>