<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace="fragments/head :: head">

</head>

<body>

<div class="wrapper">

    <!-- Navigation -->
    <nav th:replace="fragments/header :: header">


    </nav>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h2>Products</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Photo</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Decription</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <a class="btn btn-success" href="#" th:href="@{/seller/product/newProduct}">Add New Product</a>
                        <tr th:each="c : ${products}">

                                <th scope="row" th:text="${c.id}">3</th>
                                <td>
                                    <img class="img-fluid product-img"  th:if="${c.image}"  th:src="@{/images/{imgName}(imgName=${c.image})}" />
                                    <img class="img-fluid product-img"  th:unless="${c.image}"  th:src="@{/images/default.jpg}" />
                                </td>
                                <td th:text="${c.name}"></td>
                                <td th:text="${c.unitPrice}"></td>
                                <td th:text="${c.description}"></td>

                                <td><a class="btn btn-dark" th:href="@{/seller/product/edit/{id}(id=${c.id})}">Edit</a>
                                    <a class="btn btn-danger"th:if="${c.unitsInStock>0}" th:href="@{/seller/product/delete/{productId}(productId=${c.id})}">Delete</a>
                                </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">


    </div>
    <div th:replace="fragments/footer :: scripts"></div>
</div>
</body>
</html>